app/views/about.pug
extends layouts/layout-2

block title
  title Main page

block content
  .welcome-inner
    include blocks/header
    .main-container.welcome-inner__cont
      h1.welcome-inner__title О компании
      .breadcrumbs
        .breadcrumbs__item 
          a(href="index.html").breadcrumbs__link Главная
        .breadcrumbs__item 
          svg.icon.icon--right-arrow
            use(xlink:href="img/svg-sprite.svg#right-arrow")
        .breadcrumbs__item О компании
  .main-container
    .about 
      h3.about__title Компания ЗемляСтрой - сеть бригад по общестроительным и инженерным работам в Казани и пригороде. Мы предоставляем услуги мелких строительных работ с 2012 года.
      .about-list
        .about-list__item В 2012 году была сформирована сеть бригад по земельным и демонтажным работам.
          .about-list__year 2012
        .about-list__item ​С 2013 года обустраиваем канализацию от "А" до "Я", от копки ямы под септик, до обустройства ванной комнаты.
          .about-list__year 2013
        .about-list__item ​В 2014 году были подключены поставщики по железо-бетонным кольцам и трубам водоотведени. 2014 год стал для нас настоящим "бумом" и выполнив более 150 заказов, как мелких, так и крупных, стараемся держать этот результат каждый сезон.
          .about-list__year 2014
        .about-list__item 2015 год принес к нам в команду бригады по инженерным коммуникациям и бригады по монолитно-бетонным работам.
          .about-list__year 2015
        .about-list__item С 2016 года с нами работают проектировщики и поставщики инженерных коммуникаций, поставщики бетона и блочных изделей, бригады, занимающиеся кладкой кирпича и кровельными работами.
          .about-list__year 2016
        .about-list__item В 2017 мы начали сотрудничество с дизайнерами и бригадами интерьера и ландшафта. Мы стараемся помочь клиентам не только в выборе проекта и материала, но и выбрать безопастность и комфорт!
          .about-list__year 2017
        .about-list__item 2018 год показал, что растет и наш штат. Появились менеджеры отвечающие за автономную канализацию и септики. Расширили спектр услуг в водоотведении и водоснабжении. Увеличили объем выполненных заказов более чем в два раза. На 2018 год это 312 выполненных объектов.
          .about-list__year 2018

dest/about.html
<!DOCTYPE html>
<html class="no-js" lang="ru" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Main page</title>
    <link href="styles/main.css" rel="stylesheet">
  </head>
  <body>
    <div id="overlay"></div>
    <main class="main-2" id="main">
      <div class="welcome-inner">
        <header id="header"> 
          <div class="main-container">
            <div class="header__inner">
              <div class="header__btn"><span></span><span></span><span></span></div>
              <svg class="icon icon--logo header__logo">
                <use xlink:href="img/svg-sprite.svg#logo"></use>
              </svg><a class="header__m-phone" href="tel:+7 (908) 340-67-44">
                <svg class="icon icon--phone">
                  <use xlink:href="img/svg-sprite.svg#phone"></use>
                </svg></a>
              <div class="header__cont">
                <div class="header__top">
                  <div class="flex-p-wrap">
                    <div class="col-auto"> <a class="header__vk" href="">
                        <svg class="icon icon--vk">
                          <use xlink:href="img/svg-sprite.svg#vk"></use>
                        </svg></a><a class="header__email" href="">
                        <svg class="icon icon--email">
                          <use xlink:href="img/svg-sprite.svg#email"></use>
                        </svg>ZemlyaStory@yandex.ru</a></div>
                    <div class="col-auto ml-auto"><a class="header__phone" href="tel:+7 (908) 340-67-44">+7 (908) 340-67-44</a><a class="btn-r btn-r__orange header__btn-order-mob" href="">Заказать звонок</a></div>
                  </div>
                </div>
                <div class="flex-p-wrap">
                  <div class="col-auto"> 
                    <div class="header__nav">
                      <div class="header__nav-item"> <a class="header__nav-link" href="">Главная</a></div>
                      <div class="header__nav-item"> <a class="header__nav-link" href="">Услуги</a></div>
                      <div class="header__nav-item"> <a class="header__nav-link header__nav-link--active" href="">Доставка и оплата</a></div>
                      <div class="header__nav-item"> <a class="header__nav-link" href="">О компании</a></div>
                      <div class="header__nav-item"> <a class="header__nav-link" href="">Контакты</a></div>
                    </div>
                  </div>
                  <div class="col-auto ml-auto"> <a class="btn-r btn-r__orange header__btn-order" href="">Заказать звонок</a></div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="main-container welcome-inner__cont">
          <h1 class="welcome-inner__title">О компании</h1>
          <div class="breadcrumbs">
            <div class="breadcrumbs__item"> <a class="breadcrumbs__link" href="index.html">Главная</a></div>
            <div class="breadcrumbs__item"> 
              <svg class="icon icon--right-arrow">
                <use xlink:href="img/svg-sprite.svg#right-arrow"></use>
              </svg>
            </div>
            <div class="breadcrumbs__item">О компании</div>
          </div>
        </div>
      </div>
      <div class="main-container">
        <div class="about"> 
          <h3 class="about__title">Компания ЗемляСтрой - сеть бригад по общестроительным и инженерным работам в Казани и пригороде. Мы предоставляем услуги мелких строительных работ с 2012 года.</h3>
          <div class="about-list">
            <div class="about-list__item">В 2012 году была сформирована сеть бригад по земельным и демонтажным работам.
              <div class="about-list__year">2012</div>
            </div>
            <div class="about-list__item">​С 2013 года обустраиваем канализацию от "А" до "Я", от копки ямы под септик, до обустройства ванной комнаты.
              <div class="about-list__year">2013</div>
            </div>
            <div class="about-list__item">​В 2014 году были подключены поставщики по железо-бетонным кольцам и трубам водоотведени. 2014 год стал для нас настоящим "бумом" и выполнив более 150 заказов, как мелких, так и крупных, стараемся держать этот результат каждый сезон.
              <div class="about-list__year">2014</div>
            </div>
            <div class="about-list__item">2015 год принес к нам в команду бригады по инженерным коммуникациям и бригады по монолитно-бетонным работам.
              <div class="about-list__year">2015</div>
            </div>
            <div class="about-list__item">С 2016 года с нами работают проектировщики и поставщики инженерных коммуникаций, поставщики бетона и блочных изделей, бригады, занимающиеся кладкой кирпича и кровельными работами.
              <div class="about-list__year">2016</div>
            </div>
            <div class="about-list__item">В 2017 мы начали сотрудничество с дизайнерами и бригадами интерьера и ландшафта. Мы стараемся помочь клиентам не только в выборе проекта и материала, но и выбрать безопастность и комфорт!
              <div class="about-list__year">2017</div>
            </div>
            <div class="about-list__item">2018 год показал, что растет и наш штат. Появились менеджеры отвечающие за автономную канализацию и септики. Расширили спектр услуг в водоотведении и водоснабжении. Увеличили объем выполненных заказов более чем в два раза. На 2018 год это 312 выполненных объектов.
              <div class="about-list__year">2018</div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="feedback">
      <div class="main-container"> 
        <div class="feedback__title">Остались вопросы? <br>Оставьте заявку, мы перезвоним!</div>
        <div class="form-inline"> 
          <div class="form-inline__item"> 
            <div class="form-row"> 
              <input class="form-row__input" type="text" placeholder="Имя">
              <div class="form-row__line"></div>
            </div>
          </div>
          <div class="form-inline__item"> 
            <div class="form-row"> 
              <input class="form-row__input phone-mask" type="tel" placeholder="Телефон">
              <div class="form-row__line"> </div>
            </div>
          </div>
          <div class="form-inline__item"> 
            <button class="btn btn__orange form-inline__submit">Отправить</button>
          </div>
        </div>
        <div class="form-row"> 
          <label class="checkbox">
            <div class="checkbox__input">
              <input type="checkbox">
              <div class="checkbox__input-check">
                <svg class="icon icon--check">
                  <use xlink:href="img/svg-sprite.svg#check"></use>
                </svg>
              </div>
            </div>
            <div class="checkbox__text">Нажимая кнопку “Отправить”, вы соглашаетесь с политикой конфиденциальности</div>
          </label>
        </div>
      </div>
    </div>
    <div id="footer"> 
      <div class="main-container"> 
        <div class="footer__inner"> <a class="footer__logo" href="">
            <svg class="icon icon--logo header__logo">
              <use xlink:href="img/svg-sprite.svg#logo"></use>
            </svg></a>
          <div class="footer__nav"> 
            <div class="footer__nav-item"> <a class="footer__nav-link" href="">Главная</a></div>
            <div class="footer__nav-item"> <a class="footer__nav-link" href="">Услуги</a></div>
            <div class="footer__nav-item"> <a class="footer__nav-link" href="">Доставка и оплата</a></div>
            <div class="footer__nav-item"> <a class="footer__nav-link" href="">О компании</a></div>
            <div class="footer__nav-item"> <a class="footer__nav-link" href="">Контакты</a></div>
          </div>
          <div class="footer__bottom flex-wrap">
            <div class="col-auto"> 
              <div class="footer__copylang">Copyright © 2019 "ЗемляСтрой 2019". Все права защищены.</div>
            </div>
            <div class="col-auto ml-auto"> 
              <div class="footer__dev">Создание и разработка<a class="footer__dev-logo" href=""></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="scripts/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/libs.min.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
