app/views/contacts.pug
extends layouts/layout-2

block title
  title Main page

block content
  .welcome-inner
    include blocks/header
    .main-container.welcome-inner__cont
      h1.welcome-inner__title Контакты
      .breadcrumbs
        .breadcrumbs__item 
          a(href="index.html").breadcrumbs__link Главная
        .breadcrumbs__item 
          svg.icon.icon--right-arrow
            use(xlink:href="img/svg-sprite.svg#right-arrow")
        .breadcrumbs__item Контакты
  .contacts
    .main-container.contacts__inner
      .map__info
        .map__list
          .map__list-item 
            .map__list-icon
              svg.icon.icon--place
                use(xlink:href="img/svg-sprite.svg#place")
            | г. Казань, ул. Гладилова, д.41
          .map__list-item 
            .map__list-icon
              svg.icon.icon--clock
                use(xlink:href="img/svg-sprite.svg#clock")
            | Пн-Вс: 09:00-22:00
          .map__list-item 
            .map__list-icon
              svg.icon.icon--call
                use(xlink:href="img/svg-sprite.svg#call")
            a(href="tel:+7 (908) 340-67-44") +7 (908) 340-67-44
          .map__list-item 
            .map__list-icon
              svg.icon.icon--mail
                use(xlink:href="img/svg-sprite.svg#mail")
            a(href="mailto:ZemlyaStroy@yandex.ru") ZemlyaStroy@yandex.ru
    #contacts-map.contacts__map
    script(src='//api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<ваш API-ключ>" type="text/javascript', type='text/javascript')
    script.
      ymaps.ready(function () {
          var myMap = new ymaps.Map('contacts-map', {
                  center: [55.808275068939125, 49.06842449999999],
                  zoom: 17
              }, {
                  searchControlProvider: 'yandex#search'
              }),
    
              myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
                  hintContent: 'г. Казань, ул. Гладилова, д.41',
                  balloonContent: 'г. Казань, ул. Гладилова, д.41'
              });
    
          myMap.geoObjects.add(myPlacemark);
          myMap.behaviors.disable('scrollZoom');
      });

dest/contacts.html
<!DOCTYPE html>
<html class="no-js" lang="ru" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Main page</title>
    <link href="styles/main.css" rel="stylesheet">
  </head>
  <body>
    <div id="overlay"></div>
    <main class="main-2" id="main">
      <div class="welcome-inner">
        <header id="header"> 
          <div class="main-container">
            <div class="header__inner">
              <div class="header__btn"><span></span><span></span><span></span></div>
              <svg class="icon icon--logo header__logo">
                <use xlink:href="img/svg-sprite.svg#logo"></use>
              </svg><a class="header__m-phone" href="tel:+7 (908) 340-67-44">
                <svg class="icon icon--phone">
                  <use xlink:href="img/svg-sprite.svg#phone"></use>
                </svg></a>
              <div class="header__cont">
                <div class="header__top">
                  <div class="flex-p-wrap">
                    <div class="col-auto"> <a class="header__vk" href="">
                        <svg class="icon icon--vk">
                          <use xlink:href="img/svg-sprite.svg#vk"></use>
                        </svg></a><a class="header__email" href="">
                        <svg class="icon icon--email">
                          <use xlink:href="img/svg-sprite.svg#email"></use>
                        </svg>ZemlyaStory@yandex.ru</a></div>
                    <div class="col-auto ml-auto"><a class="header__phone" href="tel:+7 (908) 340-67-44">+7 (908) 340-67-44</a><a class="btn-r btn-r__orange header__btn-order-mob" href="">Заказать звонок</a></div>
                  </div>
                </div>
                <div class="flex-p-wrap">
                  <div class="col-auto"> 
                    <div class="header__nav">
                      <div class="header__nav-item"> <a class="header__nav-link" href="">Главная</a></div>
                      <div class="header__nav-item"> <a class="header__nav-link" href="">Услуги</a></div>
                      <div class="header__nav-item"> <a class="header__nav-link header__nav-link--active" href="">Доставка и оплата</a></div>
                      <div class="header__nav-item"> <a class="header__nav-link" href="">О компании</a></div>
                      <div class="header__nav-item"> <a class="header__nav-link" href="">Контакты</a></div>
                    </div>
                  </div>
                  <div class="col-auto ml-auto"> <a class="btn-r btn-r__orange header__btn-order" href="">Заказать звонок</a></div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="main-container welcome-inner__cont">
          <h1 class="welcome-inner__title">Контакты</h1>
          <div class="breadcrumbs">
            <div class="breadcrumbs__item"> <a class="breadcrumbs__link" href="index.html">Главная</a></div>
            <div class="breadcrumbs__item"> 
              <svg class="icon icon--right-arrow">
                <use xlink:href="img/svg-sprite.svg#right-arrow"></use>
              </svg>
            </div>
            <div class="breadcrumbs__item">Контакты</div>
          </div>
        </div>
      </div>
      <div class="contacts">
        <div class="main-container contacts__inner">
          <div class="map__info">
            <div class="map__list">
              <div class="map__list-item"> 
                <div class="map__list-icon">
                  <svg class="icon icon--place">
                    <use xlink:href="img/svg-sprite.svg#place"></use>
                  </svg>
                </div>г. Казань, ул. Гладилова, д.41
              </div>
              <div class="map__list-item"> 
                <div class="map__list-icon">
                  <svg class="icon icon--clock">
                    <use xlink:href="img/svg-sprite.svg#clock"></use>
                  </svg>
                </div>Пн-Вс: 09:00-22:00
              </div>
              <div class="map__list-item"> 
                <div class="map__list-icon">
                  <svg class="icon icon--call">
                    <use xlink:href="img/svg-sprite.svg#call"></use>
                  </svg>
                </div><a href="tel:+7 (908) 340-67-44">+7 (908) 340-67-44</a>
              </div>
              <div class="map__list-item"> 
                <div class="map__list-icon">
                  <svg class="icon icon--mail">
                    <use xlink:href="img/svg-sprite.svg#mail"></use>
                  </svg>
                </div><a href="mailto:ZemlyaStroy@yandex.ru">ZemlyaStroy@yandex.ru</a>
              </div>
            </div>
          </div>
        </div>
        <div class="contacts__map" id="contacts-map"></div>
        <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU&amp;amp;apikey=&lt;ваш API-ключ&gt;&quot; type=&quot;text/javascript" type="text/javascript"></script>
        <script>
          ymaps.ready(function () {
              var myMap = new ymaps.Map('contacts-map', {
                      center: [55.808275068939125, 49.06842449999999],
                      zoom: 17
                  }, {
                      searchControlProvider: 'yandex#search'
                  }),
          
                  myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
                      hintContent: 'г. Казань, ул. Гладилова, д.41',
                      balloonContent: 'г. Казань, ул. Гладилова, д.41'
                  });
          
              myMap.geoObjects.add(myPlacemark);
              myMap.behaviors.disable('scrollZoom');
          });
        </script>
      </div>
    </main>
    <div class="feedback">
      <div class="main-container"> 
        <div class="feedback__title">Остались вопросы? <br>Оставьте заявку, мы перезвоним!</div>
        <div class="form-inline"> 
          <div class="form-inline__item"> 
            <div class="form-row"> 
              <input class="form-row__input" type="text" placeholder="Имя">
              <div class="form-row__line"></div>
            </div>
          </div>
          <div class="form-inline__item"> 
            <div class="form-row"> 
              <input class="form-row__input phone-mask" type="tel" placeholder="Телефон">
              <div class="form-row__line"> </div>
            </div>
          </div>
          <div class="form-inline__item"> 
            <button class="btn btn__orange form-inline__submit">Отправить</button>
          </div>
        </div>
        <div class="form-row"> 
          <label class="checkbox">
            <div class="checkbox__input">
              <input type="checkbox">
              <div class="checkbox__input-check">
                <svg class="icon icon--check">
                  <use xlink:href="img/svg-sprite.svg#check"></use>
                </svg>
              </div>
            </div>
            <div class="checkbox__text">Нажимая кнопку “Отправить”, вы соглашаетесь с политикой конфиденциальности</div>
          </label>
        </div>
      </div>
    </div>
    <div id="footer"> 
      <div class="main-container"> 
        <div class="footer__inner"> <a class="footer__logo" href="">
            <svg class="icon icon--logo header__logo">
              <use xlink:href="img/svg-sprite.svg#logo"></use>
            </svg></a>
          <div class="footer__nav"> 
            <div class="footer__nav-item"> <a class="footer__nav-link" href="">Главная</a></div>
            <div class="footer__nav-item"> <a class="footer__nav-link" href="">Услуги</a></div>
            <div class="footer__nav-item"> <a class="footer__nav-link" href="">Доставка и оплата</a></div>
            <div class="footer__nav-item"> <a class="footer__nav-link" href="">О компании</a></div>
            <div class="footer__nav-item"> <a class="footer__nav-link" href="">Контакты</a></div>
          </div>
          <div class="footer__bottom flex-wrap">
            <div class="col-auto"> 
              <div class="footer__copylang">Copyright © 2019 "ЗемляСтрой 2019". Все права защищены.</div>
            </div>
            <div class="col-auto ml-auto"> 
              <div class="footer__dev">Создание и разработка<a class="footer__dev-logo" href=""></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="scripts/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/libs.min.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
