dest/services-inner.html
<!DOCTYPE html>
<html class="no-js" lang="ru" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Main page</title>
    <link href="styles/main.css" rel="stylesheet">
  </head>
  <body>
    <div id="overlay"></div>
    <main class="main-2" id="main">
      <div class="welcome-inner">
        <header id="header"> 
          <div class="main-container">
            <div class="header__inner">
              <div class="header__btn"><span></span><span></span><span></span></div>
              <svg class="icon icon--logo header__logo">
                <use xlink:href="img/svg-sprite.svg#logo"></use>
              </svg><a class="header__m-phone" href="tel:+7 (908) 340-67-44">
                <svg class="icon icon--phone">
                  <use xlink:href="img/svg-sprite.svg#phone"></use>
                </svg></a>
              <div class="header__cont">
                <div class="header__top">
                  <div class="flex-p-wrap">
                    <div class="col-auto"> <a class="header__vk" href="">
                        <svg class="icon icon--vk">
                          <use xlink:href="img/svg-sprite.svg#vk"></use>
                        </svg></a><a class="header__email" href="">
                        <svg class="icon icon--email">
                          <use xlink:href="img/svg-sprite.svg#email"></use>
                        </svg>ZemlyaStory@yandex.ru</a></div>
                    <div class="col-auto ml-auto"><a class="header__phone" href="tel:+7 (908) 340-67-44">+7 (908) 340-67-44</a><a class="btn-r btn-r__orange header__btn-order-mob" href="">Заказать звонок</a></div>
                  </div>
                </div>
                <div class="flex-p-wrap">
                  <div class="col-auto"> 
                    <div class="header__nav">
                      <div class="header__nav-item"> <a class="header__nav-link" href="">Главная</a></div>
                      <div class="header__nav-item"> <a class="header__nav-link" href="">Услуги</a></div>
                      <div class="header__nav-item"> <a class="header__nav-link header__nav-link--active" href="">Доставка и оплата</a></div>
                      <div class="header__nav-item"> <a class="header__nav-link" href="">О компании</a></div>
                      <div class="header__nav-item"> <a class="header__nav-link" href="">Контакты</a></div>
                    </div>
                  </div>
                  <div class="col-auto ml-auto"> <a class="btn-r btn-r__orange header__btn-order" href="">Заказать звонок</a></div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="main-container welcome-inner__cont">
          <h1 class="welcome-inner__title">Услуги компании землястрой</h1>
          <div class="breadcrumbs">
            <div class="breadcrumbs__item"> <a class="breadcrumbs__link" href="index.html">Главная</a></div>
            <div class="breadcrumbs__item"> 
              <svg class="icon icon--right-arrow">
                <use xlink:href="img/svg-sprite.svg#right-arrow"></use>
              </svg>
            </div>
            <div class="breadcrumbs__item">Услуги</div>
          </div>
        </div>
      </div>
      <div class="main-container">
        <div class="products">
          <div class="products__aside"> 
            <div class="search">
              <input class="search__input" type="text" placeholder="Поиск...">
              <button class="search__submit" type="submit">
                <svg class="icon icon--search">
                  <use xlink:href="img/svg-sprite.svg#search"></use>
                </svg>
              </button>
            </div>
            <div class="products-menu">
              <div class="products-menu__item"><a class="products-menu__link products-menu__link--active" href="">Аренда спец техники (7) 
                  <svg class="icon icon--arrow-down">
                    <use xlink:href="img/svg-sprite.svg#arrow-down"></use>
                  </svg></a>
                <div class="products-menu__dropdown">
                  <div class="products-menu__item"><a class="products-menu__link" href="">Аренда манипулятора (4)
                      <svg class="icon icon--arrow-down">
                        <use xlink:href="img/svg-sprite.svg#arrow-down"></use>
                      </svg></a></div>
                  <div class="products-menu__item"><a class="products-menu__link products-menu__link--active" href="">Аренда экскаватора (3)
                      <svg class="icon icon--arrow-down">
                        <use xlink:href="img/svg-sprite.svg#arrow-down"></use>
                      </svg></a>
                    <div class="products-menu__dropdown">
                      <div class="products-menu__item"><a class="products-menu__link" href="">Аренда экскаватора</a></div>
                      <div class="products-menu__item"><a class="products-menu__link products-menu__link--active" href="">Аренда экскаватора</a></div>
                      <div class="products-menu__item"><a class="products-menu__link" href="">Аренда экскаватора</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="products-menu__item"><a class="products-menu__link" href="">ЖБИ (4)
                  <svg class="icon icon--arrow-down">
                    <use xlink:href="img/svg-sprite.svg#arrow-down"></use>
                  </svg></a></div>
              <div class="products-menu__item"><a class="products-menu__link" href="">Земляные, буровые и фундаментальные работы (15)
                  <svg class="icon icon--arrow-down">
                    <use xlink:href="img/svg-sprite.svg#arrow-down"></use>
                  </svg></a></div>
              <div class="products-menu__item"><a class="products-menu__link" href="">Клининговые услуги (6)
                  <svg class="icon icon--arrow-down">
                    <use xlink:href="img/svg-sprite.svg#arrow-down"></use>
                  </svg></a></div>
              <div class="products-menu__item"><a class="products-menu__link" href="">Монтажные работы (6)
                  <svg class="icon icon--arrow-down">
                    <use xlink:href="img/svg-sprite.svg#arrow-down"></use>
                  </svg></a></div>
              <div class="products-menu__item"><a class="products-menu__link" href="">Обслуживание бытовой техники (6)
                  <svg class="icon icon--arrow-down">
                    <use xlink:href="img/svg-sprite.svg#arrow-down"></use>
                  </svg></a></div>
              <div class="products-menu__item"><a class="products-menu__link" href="">Потолки (6)
                  <svg class="icon icon--arrow-down">
                    <use xlink:href="img/svg-sprite.svg#arrow-down"></use>
                  </svg></a></div>
              <div class="products-menu__item"><a class="products-menu__link" href="">Ремонт, отделка (6)
                  <svg class="icon icon--arrow-down">
                    <use xlink:href="img/svg-sprite.svg#arrow-down"></use>
                  </svg></a></div>
              <div class="products-menu__item"><a class="products-menu__link" href="">Сопутствующие услуги (6)
                  <svg class="icon icon--arrow-down">
                    <use xlink:href="img/svg-sprite.svg#arrow-down"></use>
                  </svg></a></div>
              <div class="products-menu__item"><a class="products-menu__link" href="">Строительные услуги (6)
                  <svg class="icon icon--arrow-down">
                    <use xlink:href="img/svg-sprite.svg#arrow-down"></use>
                  </svg></a></div>
              <div class="products-menu__item"><a class="products-menu__link" href="">Трубы (6)
                  <svg class="icon icon--arrow-down">
                    <use xlink:href="img/svg-sprite.svg#arrow-down"></use>
                  </svg></a></div>
            </div>
          </div>
          <div class="products__cont"> 
            <div class="product-inner">
              <div class="product-inner__img"><img src="img/pic-10.jpg"></div>
              <div class="product-inner__cont">
                <div class="product-inner__status">Под заказ</div>
                <div class="product-inner__text">Представляет собой хитросплетение грузовика и крана, и действует по принципу «сам гружу, сам вожу». Благодаря данному внедрение схожих кранов манипуляторов позволяет существенно беречь, так как отпадает надобность в применении сходу 2-ух единиц техники.</div><a class="btn btn__orange product-inner__btn" href="">Получить расчёт стоимости</a>
              </div>
            </div>
            <h3 class="category-p-title">Аренда спец техники</h3>
            <div class="products-list">
              <div class="products-list__item">
                <div class="products-list__inner"><a class="products-list__img" href="" style="background-image:url(img/pic-9.jpg)"></a>
                  <div class="products-list__cont"><a class="products-list__name" href="#">Аренда манипулятора (сам гружу-вожу) свыше 5 т.</a>
                    <div class="products-list__price">от 3500 ₽</div><a class="products-list__btn" href="">Заказать</a>
                  </div>
                </div>
              </div>
              <div class="products-list__item">
                <div class="products-list__inner"><a class="products-list__img" href="" style="background-image:url(img/pic-9.jpg)"></a>
                  <div class="products-list__cont"><a class="products-list__name" href="#">Аренда манипулятора (сам гружу-вожу) свыше 5 т.</a>
                    <div class="products-list__price">от 3500 ₽</div><a class="products-list__btn" href="">Заказать</a>
                  </div>
                </div>
              </div>
              <div class="products-list__item">
                <div class="products-list__inner"><a class="products-list__img" href="" style="background-image:url(img/pic-9.jpg)"></a>
                  <div class="products-list__cont"><a class="products-list__name" href="#">Аренда манипулятора (сам гружу-вожу) свыше 5 т.</a>
                    <div class="products-list__price">от 3500 ₽</div><a class="products-list__btn" href="">Заказать</a>
                  </div>
                </div>
              </div>
              <div class="products-list__item">
                <div class="products-list__inner"><a class="products-list__img" href="" style="background-image:url(img/pic-9.jpg)"></a>
                  <div class="products-list__cont"><a class="products-list__name" href="#">Аренда манипулятора (сам гружу-вожу) свыше 5 т.</a>
                    <div class="products-list__price">от 3500 ₽</div><a class="products-list__btn" href="">Заказать</a>
                  </div>
                </div>
              </div>
              <div class="products-list__item">
                <div class="products-list__inner"><a class="products-list__img" href="" style="background-image:url(img/pic-9.jpg)"></a>
                  <div class="products-list__cont"><a class="products-list__name" href="#">Аренда манипулятора (сам гружу-вожу) свыше 5 т.</a>
                    <div class="products-list__price">от 3500 ₽</div><a class="products-list__btn" href="">Заказать</a>
                  </div>
                </div>
              </div>
              <div class="products-list__item">
                <div class="products-list__inner"><a class="products-list__img" href="" style="background-image:url(img/pic-9.jpg)"></a>
                  <div class="products-list__cont"><a class="products-list__name" href="#">Аренда манипулятора (сам гружу-вожу) свыше 5 т.</a>
                    <div class="products-list__price">от 3500 ₽</div><a class="products-list__btn" href="">Заказать</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="feedback">
      <div class="main-container"> 
        <div class="feedback__title">Остались вопросы? <br>Оставьте заявку, мы перезвоним!</div>
        <div class="form-inline"> 
          <div class="form-inline__item"> 
            <div class="form-row"> 
              <input class="form-row__input" type="text" placeholder="Имя">
              <div class="form-row__line"></div>
            </div>
          </div>
          <div class="form-inline__item"> 
            <div class="form-row"> 
              <input class="form-row__input phone-mask" type="tel" placeholder="Телефон">
              <div class="form-row__line"> </div>
            </div>
          </div>
          <div class="form-inline__item"> 
            <button class="btn btn__orange form-inline__submit">Отправить</button>
          </div>
        </div>
        <div class="form-row"> 
          <label class="checkbox">
            <div class="checkbox__input">
              <input type="checkbox">
              <div class="checkbox__input-check">
                <svg class="icon icon--check">
                  <use xlink:href="img/svg-sprite.svg#check"></use>
                </svg>
              </div>
            </div>
            <div class="checkbox__text">Нажимая кнопку “Отправить”, вы соглашаетесь с политикой конфиденциальности</div>
          </label>
        </div>
      </div>
    </div>
    <div id="footer"> 
      <div class="main-container"> 
        <div class="footer__inner"> <a class="footer__logo" href="">
            <svg class="icon icon--logo header__logo">
              <use xlink:href="img/svg-sprite.svg#logo"></use>
            </svg></a>
          <div class="footer__nav"> 
            <div class="footer__nav-item"> <a class="footer__nav-link" href="">Главная</a></div>
            <div class="footer__nav-item"> <a class="footer__nav-link" href="">Услуги</a></div>
            <div class="footer__nav-item"> <a class="footer__nav-link" href="">Доставка и оплата</a></div>
            <div class="footer__nav-item"> <a class="footer__nav-link" href="">О компании</a></div>
            <div class="footer__nav-item"> <a class="footer__nav-link" href="">Контакты</a></div>
          </div>
          <div class="footer__bottom flex-wrap">
            <div class="col-auto"> 
              <div class="footer__copylang">Copyright © 2019 "ЗемляСтрой 2019". Все права защищены.</div>
            </div>
            <div class="col-auto ml-auto"> 
              <div class="footer__dev">Создание и разработка<a class="footer__dev-logo" href=""></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="scripts/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/libs.min.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>

app/views/services-inner.pug
extends layouts/layout-2

block title
  title Main page

block content
  .welcome-inner
    include blocks/header
    .main-container.welcome-inner__cont
      h1.welcome-inner__title Услуги компании землястрой
      .breadcrumbs
        .breadcrumbs__item 
          a(href="index.html").breadcrumbs__link Главная
        .breadcrumbs__item 
          svg.icon.icon--right-arrow
            use(xlink:href="img/svg-sprite.svg#right-arrow")
        .breadcrumbs__item Услуги
  .main-container
    .products
      .products__aside 
        .search
          input(type="text" placeholder="Поиск...").search__input
          button(type="submit").search__submit
            svg.icon.icon--search
              use(xlink:href="img/svg-sprite.svg#search")
        .products-menu
          .products-menu__item
            a(href="").products-menu__link.products-menu__link--active Аренда спец техники (7) 
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
            .products-menu__dropdown
              .products-menu__item
                a(href="").products-menu__link Аренда манипулятора (4)
                  svg.icon.icon--arrow-down
                    use(xlink:href="img/svg-sprite.svg#arrow-down")
              .products-menu__item
                a(href="").products-menu__link.products-menu__link--active Аренда экскаватора (3)
                  svg.icon.icon--arrow-down
                    use(xlink:href="img/svg-sprite.svg#arrow-down")
                .products-menu__dropdown
                  .products-menu__item
                    a(href="").products-menu__link Аренда экскаватора
                  .products-menu__item
                    a(href="").products-menu__link.products-menu__link--active Аренда экскаватора
                  .products-menu__item
                    a(href="").products-menu__link Аренда экскаватора
          .products-menu__item
            a(href="").products-menu__link ЖБИ (4)
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
          .products-menu__item
            a(href="").products-menu__link Земляные, буровые и фундаментальные работы (15)
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
          .products-menu__item
            a(href="").products-menu__link Клининговые услуги (6)
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
          .products-menu__item
            a(href="").products-menu__link Монтажные работы (6)
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
          .products-menu__item
            a(href="").products-menu__link Обслуживание бытовой техники (6)
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
          .products-menu__item
            a(href="").products-menu__link Потолки (6)
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
          .products-menu__item
            a(href="").products-menu__link Ремонт, отделка (6)
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
          .products-menu__item
            a(href="").products-menu__link Сопутствующие услуги (6)
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
          .products-menu__item
            a(href="").products-menu__link Строительные услуги (6)
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
          .products-menu__item
            a(href="").products-menu__link Трубы (6)
              svg.icon.icon--arrow-down
                use(xlink:href="img/svg-sprite.svg#arrow-down")
      .products__cont 
        .product-inner
          .product-inner__img
            img(src="img/pic-10.jpg")
          .product-inner__cont
            .product-inner__status Под заказ
            .product-inner__text Представляет собой хитросплетение грузовика и крана, и действует по принципу «сам гружу, сам вожу». Благодаря данному внедрение схожих кранов манипуляторов позволяет существенно беречь, так как отпадает надобность в применении сходу 2-ух единиц техники.
            a(href="").btn.btn__orange.product-inner__btn Получить расчёт стоимости
        h3.category-p-title Аренда спец техники
        .products-list
          .products-list__item
            .products-list__inner
              a(href="" style="background-image:url(img/pic-9.jpg)").products-list__img
              .products-list__cont
                a(href="#").products-list__name Аренда манипулятора (сам гружу-вожу) свыше 5 т.
                .products-list__price от 3500 ₽
                a(href="").products-list__btn Заказать
          .products-list__item
            .products-list__inner
              a(href="" style="background-image:url(img/pic-9.jpg)").products-list__img
              .products-list__cont
                a(href="#").products-list__name Аренда манипулятора (сам гружу-вожу) свыше 5 т.
                .products-list__price от 3500 ₽
                a(href="").products-list__btn Заказать
          .products-list__item
            .products-list__inner
              a(href="" style="background-image:url(img/pic-9.jpg)").products-list__img
              .products-list__cont
                a(href="#").products-list__name Аренда манипулятора (сам гружу-вожу) свыше 5 т.
                .products-list__price от 3500 ₽
                a(href="").products-list__btn Заказать
          .products-list__item
            .products-list__inner
              a(href="" style="background-image:url(img/pic-9.jpg)").products-list__img
              .products-list__cont
                a(href="#").products-list__name Аренда манипулятора (сам гружу-вожу) свыше 5 т.
                .products-list__price от 3500 ₽
                a(href="").products-list__btn Заказать
          .products-list__item
            .products-list__inner
              a(href="" style="background-image:url(img/pic-9.jpg)").products-list__img
              .products-list__cont
                a(href="#").products-list__name Аренда манипулятора (сам гружу-вожу) свыше 5 т.
                .products-list__price от 3500 ₽
                a(href="").products-list__btn Заказать
          .products-list__item
            .products-list__inner
              a(href="" style="background-image:url(img/pic-9.jpg)").products-list__img
              .products-list__cont
                a(href="#").products-list__name Аренда манипулятора (сам гружу-вожу) свыше 5 т.
                .products-list__price от 3500 ₽
                a(href="").products-list__btn Заказать
